/* #region Base */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* #endregion Base*/

/* #region Common*/
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

h3 {
    color: #2E2F42;
}

input,
textarea {
    outline: none;
    border: none;
    background: none;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
}


/* Mobile screen (base styles) */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

/* Tablet screen */
@media only screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

/* Desktop screen */
@media only screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* Mobile and tablet screen*/
.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/* Desktop screen */
@media only screen and (min-width:1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
}

/* #endregion Common*/

/* #region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

.nav-list,
.address {
    display: none;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .address {
        display: flex;
        font-style: normal;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus,
    .address-link:hover,
    .address-link:focus,
    .nav-link.current {
        color: #404bbf;
    }
}

@media only screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 72px;
    padding-bottom: 48px;
    height: 100%;
}

.mobmenu-close-btn {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #e7e9fc;
}

.mobile-menu-nav {
    display: flex;
    margin-bottom: auto;
}

.mobmenu-nav-list {
    display: inline-grid;
    gap: 40px;
}

.mobmenu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.blue {
    color: #404bbf;
}

.mobmenu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobmenu-address-item {
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mobmenu-tel-link {
    color: #4d5ae5;
}

.mobmenu-email-link {
    color: #434455;
}

.mobmenu-icons-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/* #endregion header*/

/* #region hero */
.hero {
    color: #fff;
    text-align: center;
    padding: 72px 0;
    margin: 0 auto;
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/hero-bg_mob@1x.jpg);
}

@media screen and (min-resolotion: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-bg_mob@2x.jpg);
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    width: 216px;
    margin: 0 auto;
}

.hero-button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width:768px) {
    .hero {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-bg_tab@1x.jpg);
    }

    @media screen and (min-resolotion: 192dpi) {
        .hero {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero/hero-bg_tab@2x.jpg);
        }
    }

    .hero-container {
        gap: 36px;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        width: 496px;
    }
}

/* Desktop screen */
@media only screen and (min-width:1158px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-bg_desk@1x.jpg);
    }

    @media screen and (min-resolotion: 192dpi) {
        .hero {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero/hero-bg_desk@2x.jpg);
        }
    }

    .hero-container {
        gap: 48px;
    }

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
    }
}

/* #endregion hero */

/* #region features */
.features-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 72px;
}

.features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    text-align: center;
    color: #2e2f42;
    margin: 8px auto;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.features-box {
    display: none;
}

/* Tablet screen */
@media only screen and (min-width:768px) {
    .features-list {
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        gap: 72px 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-subtitle {
        text-align: left;
    }
}

/* Desktop screen */
@media only screen and (min-width:1158px) {
    .features-list {
        gap: 24px;
    }

    .features-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .features-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        margin-bottom: 8px;
    }
}

/* #endregion features */

/* #region team */
.team {
    background: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
}

/* Tablet screen */
@media only screen and (min-width:768px) {
    .team-list {
        gap: 64px 24px;
    }
}

/* Desktop screen */
@media only screen and (min-width:1158px) {
    .team-list {
        flex-wrap: unset;
        justify-content: space-between;
        gap: 24px;
    }
}

.team-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    border-radius: 0 0 4px 4px;
    padding-bottom: 32px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;

}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-list-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.icons-link {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px;
    background-color: #4d5ae5;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.icon {
    fill: #f4f4fd;
}

/* Desktop screen */
@media only screen and (min-width:1158px) {
    .icons-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }

    .icons-link:hover,
    .icons-link:focus {
        background-color: #404bbf;
    }
}

/* #endregion team */

/* #region portfolio */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.overlay-text {
    display: none;
}

.portfolio-card {
    padding: 32px 16px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media only screen and (min-width:768px) {
    .portfolio-list {
        flex-direction: row;
        justify-content: space-between;
        gap: 72px 24px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width:1158px) {
    .portfolio-list {
        gap: 48px 24px;
    }

    .portfolio-box {
        position: relative;
        overflow: hidden;
    }

    .overlay-text {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        font-weight: 400;
        font-size: 16px;
        padding: 40px 32px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;

        transform: translatey(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item {
        flex-basis: calc((100% - 48px) / 3);
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover .overlay-text {
        transform: translatey(0%);
    }

    .portfolio-item:hover {
        cursor: pointer;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .portfolio-card {
        border: 1px solid #e7e9fc;
        border-top: none;
    }
}

/* #endregion portfolio */

/* #region footer */
.footer {
    padding: 96px 0;
    background: #2E2F42;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.smedia {
    margin: 0 auto;
    text-align: center;
}

.smedia-text,
.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-list-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    border: 1px;
}

.footer-subscribe {
    text-align: center;
    margin: 0 auto;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-subscribe-email {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    width: 288px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-subscribe-email::placeholder {
    color: #fff;
    opacity: 0.3;
}

.footer-subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    width: 165px;
    height: 40px;
    background: #4d5ae5;

}

.footer-subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}

@media only screen and (min-width:768px) {
    .footer {
        /* padding: 100px 0; */
    }

    .footer-container {
        flex-direction: row;
        padding-left: 92px;
        gap: 72px 24px;
    }

    .footer-about {
        width: 264px;
        height: 112px;
    }

    .footer-text {}

    .smedia {
        margin: 0 0;
    }

    .footer-subscribe {
        margin: 0 0;
        text-align: left;
    }

    .footer-form {
        flex-direction: row;
    }

    .footer-subscribe-button {
        width: 264px;
        height: 40px;
    }

    .footer-subscribe-email {
        width: 264px;
        height: 40px;
    }
}

@media only screen and (min-width:1158px) {
    .footer-container {
        flex-wrap: unset;
        padding-left: 15px;
        gap: unset;
    }

    .footer-about {
        margin-right: 120px;
    }

    .smedia {
        text-align: left;
        /* margin: 0 80px 0 120px; */
        margin-right: 80px;
    }

    .footer-form {
        gap: 24px;
    }

    .footer-subscribe-button {
        width: 165px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-subscribe-button:hover,
    .footer-subscribe-button:focus {
        background-color: #404BBF;
    }

    .footer-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-link:hover,
    .footer-link:focus {
        background-color: #31d0aa;
    }
}

/* #endregion footer */

/* #region modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, visibility;
}

.backdrop:not(.is-open) .modal {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    padding: 72px 24px 24px 24px;
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    display: flex;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.modal-caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-group-inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.modal-form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-form-wrapper {
    position: relative;
}

.modal-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 34px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-input:focus,
.modal-form-textarea:focus {
    border: 1px solid #4d5ae5;
}

.modal-form-input:focus+.modal-form-icon {
    fill: #4d5ae5;
}

.modal-form-chbox {
    margin-bottom: 24px;
}

.modal-policy-label {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    user-select: none;
    align-items: center;

    gap: 8px;
}

.modal-span-chbox {
    display: inline-flex;
    min-width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* margin-right: 8px; */
    fill: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-icon {
    opacity: 0;
    fill: #f4f4fd;
    transition: 150ms ease-in;
    transition-property: opacity;
}

input[type='checkbox']:checked+.modal-policy-label>.modal-span-chbox {
    opacity: 1;
    border: none;
    border-radius: 2px;
    background-color: #404bbf;
    fill: #f4f4fd;
}

input[type='checkbox']:checked+.modal-policy-label>.modal-span-chbox>.modal-check-icon {
    opacity: 1;
}

.modal-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-send-btn {
    display: block;
}

@media only screen and (min-width:768px) {
    .modal {
        width: 408px;
        height: 584px;
    }

    .modal-form-icon {
        left: 16px;
    }
}

@media only screen and (min-width:1158px) {
    .modal-form-input {
        padding-left: 34px;
    }
}

/* #endregion modal */